*{
    box-sizing: border-box;
}

.slideshow-container{
   max-width: 1000px;
    position: relative;
    margin: auto;
}

.myslide{
    display: none;
}


.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}


.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.prev:hover , .next:hover{
    background-color: rgba(9, 39, 83, 0.993);
} 